# SF Salaries Exercise 

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

**Import pandas as pd.**

In [1]:
import pandas as pd

**Read Salaries.csv as a dataframe called sal.**

In [3]:
df=pd.read_csv(r"C:\Users\VARAD\OneDrive\Desktop\SOC 2025\PROJECT\Summer-of-code-AI-and-ML-\Week 2\Salaries.csv\Salaries.csv")

C:\Users\VARAD\AppData\Local\Temp\ipykernel_13864\3989218894.py:1: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(r"C:\Users\VARAD\OneDrive\Desktop\SOC 2025\PROJECT\Summer-of-code-AI-and-ML-\Week 2\Salaries.csv\Salaries.csv")

**Check the head of the DataFrame.**

In [4]:
print(df.head())

   Id       EmployeeName                                        JobTitle  \
0   1     NATHANIEL FORD  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1   2       GARY JIMENEZ                 CAPTAIN III (POLICE DEPARTMENT)
2   3     ALBERT PARDINI                 CAPTAIN III (POLICE DEPARTMENT)
3   4  CHRISTOPHER CHONG            WIRE ROPE CABLE MAINTENANCE MECHANIC
4   5    PATRICK GARDNER    DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)

     BasePay OvertimePay   OtherPay Benefits   TotalPay  TotalPayBenefits  \
0  167411.18         0.0  400184.25      NaN  567595.43         567595.43
1  155966.02   245131.88  137811.38      NaN  538909.28         538909.28
2  212739.13   106088.18    16452.6      NaN  335279.91         335279.91
3    77916.0    56120.71   198306.9      NaN  332343.61         332343.61
4   134401.6      9737.0  182234.59      NaN  326373.19         326373.19

   Year  Notes         Agency Status
0  2011    NaN  San Francisco    NaN
1  2011    NaN  San Francisco    NaN
2  2011    NaN  San Francisco    NaN
3  2011    NaN  San Francisco    NaN
4  2011    NaN  San Francisco    NaN

**Use the .info() method to find out how many entries there are.**

In [5]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB
None

**What is the average BasePay ?**

In [7]:
df['BasePay'] = pd.to_numeric(df['BasePay'], errors='coerce')

average_basepay = df['BasePay'].mean()

print("Average BasePay:", average_basepay)

Average BasePay: 66325.44884048769

**What is the highest amount of OvertimePay in the dataset ?**

In [8]:
df['OvertimePay'] = pd.to_numeric(df['OvertimePay'], errors='coerce')
max_overtime = df['OvertimePay'].max()
print("Highest OvertimePay:", max_overtime)

Highest OvertimePay: 245131.88

**What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll).**

In [9]:

result = df[df['EmployeeName'] == 'JOSEPH DRISCOLL']
print(result[['EmployeeName', 'JobTitle']])

       EmployeeName                   JobTitle
24  JOSEPH DRISCOLL  CAPTAIN, FIRE SUPPRESSION

**How much does JOSEPH DRISCOLL make (including benefits)?**

In [10]:

print(result[['EmployeeName', 'TotalPayBenefits']])

       EmployeeName  TotalPayBenefits
24  JOSEPH DRISCOLL         270324.91

**What is the name of highest paid person (including benefits)?**

In [12]:
max_pay = df['TotalPayBenefits'].max()

highest_paid = df[df['TotalPayBenefits'] == max_pay]
print(highest_paid[['EmployeeName', 'JobTitle', 'TotalPayBenefits']])

     EmployeeName                                        JobTitle  \
0  NATHANIEL FORD  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY

   TotalPayBenefits
0         567595.43

**What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [13]:
# Ensure TotalPayBenefits is numeric
df['TotalPayBenefits'] = pd.to_numeric(df['TotalPayBenefits'], errors='coerce')

# Find the minimum value
min_pay = df['TotalPayBenefits'].min()

# Get the person(s) with that pay
lowest_paid = df[df['TotalPayBenefits'] == min_pay]

# Display result
print(lowest_paid[['EmployeeName', 'JobTitle', 'TotalPayBenefits']])

       EmployeeName                    JobTitle  TotalPayBenefits
148653    Joe Lopez  Counselor, Log Cabin Ranch           -618.13

**What was the average (mean) BasePay of all employees per year? (2011-2014) ?**

In [14]:
# Ensure 'BasePay' and 'Year' are properly typed
df['BasePay'] = pd.to_numeric(df['BasePay'], errors='coerce')
df['Year'] = pd.to_numeric(df['Year'], errors='coerce')

# Group by Year and calculate mean BasePay
average_basepay_per_year = df.groupby('Year')['BasePay'].mean()

# Filter for years 2011 to 2014 only
average_basepay_per_year = average_basepay_per_year.loc[2011:2014]

# Display result
print(average_basepay_per_year)

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

**How many unique job titles are there?**

2159

**What are the top 5 most common jobs?**

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

**How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?)**

In [15]:
unique_job_titles = df['JobTitle'].nunique()

print("Number of unique job titles:", unique_job_titles)

Number of unique job titles: 2159

**How many people have the word Chief in their job title? (This is pretty tricky)**

In [16]:
chief_count = df['JobTitle'].str.contains(r'\bChief\b', case=False, na=False).sum()

print("Number of people with 'Chief' in job title:", chief_count)

Number of people with 'Chief' in job title: 627

# what are the top 5 most common job

In [17]:
top_5_jobs = df['JobTitle'].value_counts().head(5)

print("Top 5 most common job titles:\n")
print(top_5_jobs)

Top 5 most common job titles:

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: count, dtype: int64

**Is there a correlation between length of the Job Title string and Salary?**

In [18]:
df['TotalPayBenefits'] = pd.to_numeric(df['TotalPayBenefits'], errors='coerce')
df['JobTitle'] = df['JobTitle'].astype(str)

df['TitleLength'] = df['JobTitle'].apply(len)

clean_df = df.dropna(subset=['TotalPayBenefits'])

correlation = clean_df['TitleLength'].corr(clean_df['TotalPayBenefits'])

print("Correlation between job title length and TotalPayBenefits:", correlation)

Correlation between job title length and TotalPayBenefits: -0.03687844593260669

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000

# Great Job!